*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}
html,
body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(49, 192, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(3, 186, 247);
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    height: 300px;
    width: 300px;
    background-color: crimson;
}
h1{
    font-size: 60px;
    padding: 10px;
    position: relative;
    margin: 40px;
    background-color: rgba(255, 0, 0, 0.308);
}
h2{
    font-size: 60px;
    padding: 10px;
    position: relative;
    background-color: rgba(255, 255, 0, 0.548);
}